#title-header {
    padding: .35em;
	font-size: 1.75em;
	font-weight: 300;
	text-align: center;
	position: relative;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	background-color: #dfe7ea;
}

.flex-containers {
	display: flex;
	margin: 0;
	padding: 0;
  }

  .flex-containers > div {
	padding: 10px;
  }


.selectDocument-fieldname{
	text-align: center;
}
#selectDocument > div {
	display: flex;
    font: inherit;
}
  
#selectDocument > span {
	display: flex;
	text-align: start;
}
/* .fieldLabel{
    height: 1em;
}
.fieldLabel, .selectDocument{ 
    float:left;/*Add float left*
} */.binf-widgets .otcsw--noteview {
  /* Make more space around the welcome message than the default Bootstrap
     panel offers */
  padding: 1em;
  /* Make the panel look nicer */
  background-color: #fff;
  /* Fill up the parent tile extents. */
  width: 100%;
  height: 100%;
}

.flex-container {
  display: flex;
  background-color: DodgerBlue;
}

.flex-container > div {
  border:1px solid black;
  margin: 2px;
}

#tilte-header{
  padding: .35em;
	font-size: 1.75em;
	font-weight: 300;
	text-align: center;
	position: relative;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	background-color: #1d5011;
}
.column1 {
  float: left;
  width: 33.33%;
  background-color: aliceblue;
  height: 470px;
}

.column2 {
  float: left;
  width: 33.33%;
  background-color:beige;
  height: 470px;
}
.column3 {
  float: left;
  width: 33.33%;
  background-color: cornsilk;
  height: 470px;
}

.row {
  border: 5px solid red;
}

.row::after {
  content: "";
  display: table;
  clear: both;
}.binf-widgets .otcsw--testing {
  /* Make more space around the welcome message than the default Bootstrap
     panel offers */
  padding: 1em;
  /* Make the panel look nicer */
  background-color: #fff;
  /* Fill up the parent tile extents. */
  width: 100%;
  height: 100%;
}
.row {
    display: flex;
    background-color: white;
}
.column1 {
  float: left;
  width: 100%;
  background-color: aliceblue;
  height: 470px;
}

.column2 {
  float: left;
  width: 100%;
  background-color:beige;
  height: 470px;
}