<h2 id="title-header">View Document Two</h2>
<div class = "flex-containers">
    <div class="selectDocument-fieldname">SelectDocument:  </div>
    <div id="selectDocument"></div>
</div>
<div id="viewer"></div>