#title-header {
    padding: .35em;
	font-size: 1.75em;
	font-weight: 300;
	text-align: center;
	position: relative;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	background-color: #dfe7ea;
}

.flex-containers {
	display: flex;
	margin: 0;
	padding: 0;
  }

  .flex-containers > div {
	padding: 10px;
  }


.selectDocument-fieldname{
	text-align: center;
}
#selectDocument > div {
	display: flex;
    font: inherit;
}
  
#selectDocument > span {
	display: flex;
	text-align: start;
}
/* .fieldLabel{
    height: 1em;
}
.fieldLabel, .selectDocument{ 
    float:left;/*Add float left*
} */